/* Create a class for completed tasks to add a line-through style */
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.completed {
  text-decoration: line-through;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 16px;
  background-color: antiquewhite;
  width: 70%;
  height: 60px;
  border-radius: 50px;
}
.button-todo {
  display: flex;
  align-items: center;
  margin-left: 28rem;
  padding: 10px 20px;
}
.button-todo button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
  margin: 5px;
}

input[type="checkbox"] {
  margin-right: 10px;
}
